
<div class="form-row" *ngIf="advantageCostType">
  <div class="col">
    <p aria-live="polite">{{advantage.nameRU}}</p>
  </div>
  <div class="col">
    <p aria-live="polite">{{advantage.nameEN}}</p>
  </div>
  <div class="col">
    <p aria-live="polite">{{advantage.type}}</p>
  </div>
  <div class="col">
    <p aria-live="polite">{{advantage.rarity}}</p>
  </div>
  <div class="col">
    <p aria-live="polite">{{advantage.formula}}</p>
  </div>

  <div class="col">
    <p aria-live="polite">Base costs: <b>{{firstCost}} </b></p>
  </div>

  <div class="col">
    <p aria-live="polite">Current type: <b>{{advantageCostType}} </b></p>
  </div>

  <div class="col">
    <p *ngIf="!isValue" aria-live="polite">Base costs: <b>{{firstCost}} </b></p>
    <input *ngIf="isValue" type="text" class="form-control" placeholder="points...">
  </div>

  <div class="col">
    <button type="button" class="btn btn-primary">Buy!</button>
  </div>
</div>
